

:root {
  --primary-color: #77529e;
  --secondary-color: #dcb5ff;
  --blue: #d9f2ff;
  --dark-blue: #a5bdfd;

  --font-weight-normal: 400;
  --font-size-base: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
}

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--font-size-base);
  padding: 20px;
  border-bottom: 1px solid black;
}

.page-header__item {
  flex: 0 1 100px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__item:first-child {
  width: 90px;
  border-radius: 50%;
}

.navigation-list{
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px 
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--secondary-color);
} 

a:hover, a:focus {
  text-decoration: none;
  
}

a:active {
  color: var(--primary-color);
}

button {
  font-family: inherit;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px;
  background-color: var(--primary-color);
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;

}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 0
}

.profile-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 300px 300px; */
  grid-gap: 20px;
}

.grid__item {
  background-color: rgb(228, 228, 228);
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}



@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  opacity: 0.8;
  cursor: pointer
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me__item ul {
  list-style-type: none;
  margin-right: 35px;
  padding-bottom: 20px;
}

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.berlin-illustration {
  width: 500px;
  height: auto;
  padding: 30px
}

.contact-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.contact-me__form {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}