@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --primary-color: #77529e;
}


body {
  margin: 0;
  font-family: "Roboto Slab", serif !important;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header */

.basic-navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c8b6ff;
  font-weight: bold;
}

.navbar-link {
  color: var(--primary-color) !important;
}

.navbar {
  padding: 100px 0 0 0 !important;
}

/* about me section */

.about-me {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    font-size: 20px
}

.about-me__title {
text-align: center;
font-size: 15px;
}

.about-me__hashtag {
text-align: center;
font-size: 15px;
color: var(--primary-color);
}

.about-me__image-container {
  text-align: center;
  margin: 20px 0;
}

.about-me__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.github-container{
  display: flex;
  flex-direction: column;
}

.github-container .btn {
  background-color: var(--primary-color) !important;
  border: var(--primary-color) !important;
  margin: 10px
}

.btn {
  margin: 15px
}

.skills {
  padding-top: 40px;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


